  <html>
  <head>
      <link rel="stylesheet" href="\stylesheets\bulma.css"/>
      <link rel="stylesheet" href="\stylesheets\style.css"/>
      
    </head>
    <body>
    <div class="filter" id="loader">
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
  </div>
  </div>
    <div class="columns is-centered is-multiline">
      <div class="column is-full has-text-centered">
        <p class="is-2 title">Check data quality</p>
          <p class="is-4 subtitle">BSL, go2SE, SafeRepository, DSL</p>
      </div>
      <div class="column is-one-third search-ref">
        <p class="title is-4 has-text-black">Check a reference</p>
        <form method="POST" action="/ref">
          <div class="field">
            <label class="label">Reference</label>
            <div class="control">
              <input class="input" type="text" placeholder="Reference to search" name="searchedRef" value="42878-A">
            </div>
          </div>
          <div class="field">
            <label class="label">Locale</label>
            <div class="control">
              <div class="select">
              <select name="searchedLocale" id="scope-list">
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">What do you want to check?</label>
            <div class="control">
              <label class="checkbox">
              <input type="checkbox" name="inputBsl" value="BSL" checked>
                BSL
              </label>
              <label class="checkbox">
              <input type="checkbox" name="inputWebsite" value="website" >
                Available in website
              </label>
              <label class="checkbox">
                <input type="checkbox" name="inputGo2se" value="go2SE">
                  go2SE
              </label>
              <label class="checkbox">
                <input type="checkbox" name="inputSr" value="SR">
                  SafeRepository
              </label>
              <label class="checkbox">
                <input type="checkbox" name="inputDsl" value="DSL">
                  DSL
              </label>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button" type='submit' onclick="startLoader()">Check</button>
            </div>
          </div> 
        </form>
      </div>
      <div class="column is-one-third search-multiple-refs">
        <p class="title is-4 has-text-black">Check references</p>
        <form method="POST" action="/refs" encType="multipart/form-data">
          <div class="field">
            <label class="label">List of references</label>
            <span>Download an example <a href="/Test_DS.xlsx" target="blank" download="example-list-ref.xlsx">here</a> </span>
            <div class="control">
              <input class="input" type="file" name="searchedRefs">
            </div>
          </div>
          <div class="field">
            <label class="label">What do you want to check?</label>
            <div class="control">
              <label class="checkbox">
              <input type="checkbox" name="inputBsl" value="BSL" checked>
                BSL
              </label>
              <label class="checkbox">
              <input type="checkbox" name="inputWebsite" value="website">
                Available in website
              </label>
              <label class="checkbox">
                <input type="checkbox" name="inputGo2se" value="go2SE">
                  go2SE
              </label>
              <label class="checkbox">
                <input type="checkbox" name="inputSr" value="SR">
                  SafeRepository
              </label>
              <label class="checkbox">
                <input type="checkbox" name="inputDsl" value="DSL">
                  DSL
              </label>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button" type='submit' onclick="startLoader()">Check</button>
            </div>
          </div> 
        </form>
      </div>
    </div> 
    <script src="\scope-list.js"></script>    
    <script>
      function startLoader(){
        document.getElementById("loader").style.display = "block";
      }
    </script>
    <script src="https://kit.fontawesome.com/22ce76ef9a.js" crossorigin="anonymous"></script>

  </body>
  </html>