<html>
    <head>
        <link rel="stylesheet" href="\stylesheets\bulma.css"/>
        <link rel="stylesheet" href="\stylesheets\style.css"/>
    </head>
  <body>
    <div class="columns is-multiline is-centered ">
    
        <div class="column is-three-quarters">
            <a href="/" class="go-to-search">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </span>
            </a>
        </div>
        <div class="column is-three-quarters has-text-centered">
            <p class="title is-2">{{result.reference}}</p>
            <p class="subtitle is-4"> {{result.locale}}</p>
        </div>
        {{#result.searchInput.inputBsl}}
        {{^result.bslStatus}}
         <div class="column has-text-centered is-three-quarters section">
            <h3 class="title is-4">BSL</h3>
            No result
        </div>
        {{/result.bslStatus}}
            {{#result.bslStatus}}
            <div class="column has-text-centered is-three-quarters section">
                <h3 class="title is-4">BSL</h3>
                <div class="columns is-multiline is-centered">
                <div class="column has-text-centered is-one-quarter">
                    <p class="">Product range</p>
                    {{#result.product.parentRangeId}}
                    <p class="label has-text-success">{{result.product.parentRangeId}}</p>
                    {{/result.product.parentRangeId}}
                    {{^result.product.parentRangeId}}
                    <p class="label has-text-danger">No range ID</p>
                    {{/result.product.parentRangeId}}

                </div>
                <div class="column has-text-centered is-one-quarter">
                    <p>Product global status</p>
                    {{#result.product.attributes.globalStatus}}
                    <p class="label">{{result.product.attributes.globalStatus}}</p>
                    {{/result.product.attributes.globalStatus}}
                    {{^result.product.attributes.globalStatus}}
                    <p class="label has-text-danger">No global status</p>
                    {{/result.product.attributes.globalStatus}}
                </div>
                <div class="column has-text-centered is-one-quarter">
                    <p>Long Description</p>
                    {{#result.product.longDescription}}
                    <p class="label has-text-success">{{result.product.longDescription}}</p>
                    {{/result.product.longDescription}}
                    {{^result.product.longDescription}}
                    <p class="label has-text-danger">No long description</p>
                    {{/result.product.longDescription}}
                </div>
                <div class="column has-text-centered is-one-quarter">
                    <p>Short Description</p>
                    {{#result.product.shortDescription}}
                    <p class="label has-text-success">{{result.product.shortDescription}}</p>
                    {{/result.product.shortDescription}}
                    {{^result.product.shortDescription}}
                    <p class="label has-text-danger">No short description</p>
                    {{/result.product.shortDescription}}
                </div>
                <div class="column has-text-centered is-one-quarter">
                    <p>Product DataSheet</p>
                    {{#result.bslStatus.availableInWebsite}}
                    <a href="{{result.bslStatus.availableInWebsite}}" target="_blank">Datasheet</a>
                    {{/result.bslStatus.availableInWebsite}}
                    {{^result.bslStatus.availableInWebsite}}
                    <p class="label has-text-danger">No Product datasheet</p>
                    {{/result.bslStatus.availableInWebsite}}
                </div>
                <div class="image column has-text-centered is-one-third">
                <p>Image</p>
                    {{#result.bslStatus.hasImage}}
                    <figure class="image is-128x128">
                        <img src="{{result.bslStatus.hasImage}}"/>
                    </figure>
                    {{/result.bslStatus.hasImage}}
                    {{^result.bslStatus.hasImage}}
                        <p class="has-text-danger label">No image</p>
                    {{/result.bslStatus.hasImage}}
                </div>
                <div class="documents column has-text-left">
                    <p> <b>{{result.bslStatus.hasDocuments.length}}</b> Documents linked to the reference</p>
                    {{#result.bslStatus.hasDocuments}}
                    <li><a href="{{url}}" target="_blank">{{reference}}-{{title}}</a></li>
                    {{/result.bslStatus.hasDocuments}}
                    {{^result.bslStatus.hasDocuments}}
                    <p class="has-text-warning label">No documents</p>
                    {{/result.bslStatus.hasDocuments}}
                </div>
                </div>
            </div>
            {{/result.bslStatus}}
        {{/result.searchInput.inputBsl}}
        {{#result.searchInput.inputWebsite}}
            {{^result.availableInWebsite}}
                <div class="column has-text-centered is-three-quarters section">
                    <h3 class="title is-4">Website</h3>
                    No result                    
                </div>
            {{/result.availableInWebsite}}
            {{#result.availableInWebsite}}
                <div class="column has-text-centered is-three-quarters section">
                    <h3 class="title is-4">Website</h3>
                    <a href="{{result.availableInWebsite}}"target="_blank">{{result.availableInWebsite}}</a>
                    
                </div>
            {{/result.availableInWebsite}}
        {{/result.searchInput.inputWebsite}}
        {{#result.searchInput.inputGo2se}}
            {{^result.hasGo2SE}}
                <div class="column has-text-centered is-three-quarters section">
                    <h3 class="title is-4">GO2SE</h3>
                    No result                    
                </div>
            {{/result.hasGo2SE}}
            {{#result.hasGo2SE}}
            <div class="column has-text-centered is-three-quarters section">
                <h3 class="title is-4">
                    <a href="https://www.go2se.com/ref={{result.reference}}/sn=00000" target="_blank">GO2SE</a>
                </h3>
                <div class="columns is-multiline">
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasGo2SE.isWorking}}
                            <p class="has-text-success label">Link is working</p>
                        {{/result.hasGo2SE.isWorking}}
                        {{^result.hasGo2SE.isWorking}}
                            <p class="has-text-danger label">Link is not working</p>
                        {{/result.hasGo2SE.isWorking}}
                    </div>
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasGo2SE.hasDescription}}
                            <p class="has-text-success label">Got a description</p>
                        {{/result.hasGo2SE.hasDescription}}
                        {{^result.hasGo2SE.hasDescription}}
                            <p class="has-text-danger label">No description</p>
                        {{/result.hasGo2SE.hasDescription}}
                    </div>
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasGo2SE.hasImage}}
                            <p class="has-text-success label">Got an image</p>
                        {{/result.hasGo2SE.hasImage}}
                        {{^result.hasGo2SE.hasImage}}
                            <p class="has-text-danger label">No image</p>
                        {{/result.hasGo2SE.hasImage}}
                    
                    </div>
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasGo2SE.hasCharacteristics}}
                            <p class="has-text-success label">Got characteristics</p>
                        {{/result.hasGo2SE.hasCharacteristics}}
                        {{^result.hasGo2SE.hasCharacteristics}}
                            <p class="has-text-danger label">No characteristics</p>
                        {{/result.hasGo2SE.hasCharacteristics}}
                    </div>
                </div>
            </div>
            {{/result.hasGo2SE}}
        {{/result.searchInput.inputGo2se}}
        {{#result.searchInput.inputSr}}
            {{^result.hasSafeRepo}}
                <div class="column has-text-centered is-three-quarters section">
                    <h3 class="title is-4">Safe Repository</h3>
                    No result                    
                </div>
            {{/result.hasSafeRepo}}
            {{#result.hasSafeRepo}}
            <div class="column has-text-centered is-three-quarters section">
                <h3 class="title is-4">
                    <a href="https://saferepository.schneider-electric.com/product/ref={{result.reference}}/sn=00000" target="_blank">Safe Repository</a>
                </h3>
                <div class="columns is-multiline">
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasSafeRepo.isWorking}}
                            <p class="has-text-success label">Link is working</p>
                        {{/result.hasSafeRepo.isWorking}}
                        {{^result.hasSafeRepo.isWorking}}
                            <p class="has-text-danger label">Link is not working</p>
                        {{/result.hasSafeRepo.isWorking}}
                    </div>
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasSafeRepo.hasDescription}}
                            <p class="has-text-success label">Got a description</p>
                        {{/result.hasSafeRepo.hasDescription}}
                        {{^result.hasSafeRepo.hasDescription}}
                            <p class="has-text-danger label">No description</p>
                        {{/result.hasSafeRepo.hasDescription}}
                    </div>
                    <div class="column has-text-centered is-one-quarter">
                        {{#result.hasSafeRepo.hasImage}}
                            <p class="has-text-success label">Got an image</p>
                        {{/result.hasSafeRepo.hasImage}}
                        {{^result.hasSafeRepo.hasImage}}
                            <p class="has-text-danger label">No image</p>
                        {{/result.hasSafeRepo.hasImage}}
                    
                    </div>
                    <div class="column has-text-centered is-one-quarter">
                        <p class="label">Got {{result.hasSafeRepo.hasDocuments}} documents</p>
                    </div>
                </div>
            </div>
            {{/result.hasSafeRepo}}
        {{/result.searchInput.inputSr}}
        {{#result.searchInput.inputDsl}}
            {{^result.dslStatus}}
                <div class="column has-text-centered is-three-quarters section">
                    <h3 class="title is-4">DSL</h3>
                    No result                    
                </div>
            {{/result.dslStatus}}
            {{#result.dslStatus}}
            <div class="column has-text-centered is-three-quarters section">
                <h3 class="title is-4">DSL</h3>
                <div class="columns is-multiline">
                    <div class="image column has-text-centered is-half">
                    <p>Image</p>
                    {{#result.dslStatus.hasImage}}
                    <figure class="image is-128x128">
                        <img src="{{result.dslStatus.hasImage}}"/>
                    </figure>
                    {{/result.dslStatus.hasImage}}
                    {{^result.dslStatus.hasImage}}
                        <p class="has-text-danger label">No image</p>
                    {{/result.dslStatus.hasImage}}
                </div>
                <div class="column has-text-centered is-half">
                    <p>Long Description</p>
                    {{#result.dslStatus.hasDescriptionDSL}}
                    <p class="label has-text-success">{{result.dslStatus.hasDescriptionDSL}}</p>
                    {{/result.dslStatus.hasDescriptionDSL}}
                    {{^result.dslStatus.hasDescriptionDSL}}
                    <p class="label has-text-danger">{{result.dslStatus.hasDescriptionDSL}}</p>
                    {{/result.dslStatus.hasDescriptionDSL}}
                </div>
            </div>
            {{/result.dslStatus}}
        {{/result.searchInput.inputDsl}}
    </div>
    <script src="https://kit.fontawesome.com/22ce76ef9a.js" crossorigin="anonymous"></script>
    </body>
</html>