<html>

<head>
    <link rel="stylesheet" href="\stylesheets\bulma.css" />
    <link rel="stylesheet" href="\stylesheets\style.css" />
</head>

<body>
    <div class="container">
        <div class="columns is-multiline">
         <div class="column is-three-quarters">
            <a href="/" class="go-to-search">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </span>
            </a>
        </div>
        <div class="column is-three-quarters has-text-centered refs-check-status">
            <div class="icon-text remaining-refs">
                <span class="icon has-text-info">
                    <i class="fas fa-spinner fa-pulse"></i>
                </span>
                <span>It remains <span id="nbRemaining"></span> to check</span>
            </div>
            <div class="icon-text all-refs-checked">
                <span class="icon has-text-success">
                    <i class="fas fa-check-square"></i>
                </span>
                <span>All refs have been checked. You can download the results <a href="" download="results.json">here.</a></span>
            </div>
        </div>
            <div class="column is-full">
                <table class="table is-striped is-narrow is-hoverable">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            {{#data.srcs.inputBsl}}
                                <th class="bsl has-text-centered" colspan="6">BSL</th>
                            {{/data.srcs.inputBsl}} 
                            {{#data.srcs.inputWebsite}}
                                <th class="website has-text-centered" colspan="1">Website</th>
                            {{/data.srcs.inputWebsite}} 
                            {{#data.srcs.inputDsl}}
                                <th class="dsl has-text-centered" colspan="2">DSL</th>
                            {{/data.srcs.inputDsl}} 
                            {{#data.srcs.inputGo2se}}
                                <th class="go2SE has-text-centered" colspan="4">Go2SE</th>
                            {{/data.srcs.inputGo2se}} 
                            {{#data.srcs.inputSr}}
                                <th class="sr has-text-centered" colspan="4">Safe Repository</th>
                            {{/data.srcs.inputSr}}
                        </tr>
                        <tr>
                            <th><abbr title="Reference">Ref</abbr></th>
                            <th><abbr title="Locale">Loc</abbr></th>
                            {{#data.srcs.inputBsl}}
                                <th class="bsl"><abbr title="Product Range">Rg</abbr></th>
                                <th class="bsl"><abbr title="Global Status">Status</abbr></th>
                                <th class="bsl"><abbr title="Long Description">Lg Desc</abbr></th>
                                <th class="bsl"><abbr title="Short Description">Sh. Desc</abbr></th>
                                <th class="bsl"><abbr title="Image">Img</abbr></th>
                                <th class="bsl"><abbr title="Documents">Doc</abbr></th>
                            {{/data.srcs.inputBsl}} 
                            {{#data.srcs.inputWebsite}}
                                <th class="website"><abbr title="Website">Website</abbr></th>
                            {{/data.srcs.inputWebsite}} 
                            {{#data.srcs.inputDsl}}
                                <th class="dsl"><abbr title="Image">Img</abbr></th>
                                <th class="dsl"><abbr title="Description">Desc</abbr></th>
                            {{/data.srcs.inputDsl}} 
                            {{#data.srcs.inputGo2se}}
                                <th class="go2SE"><abbr title="Working">Up</abbr></th>
                                <th class="go2SE"><abbr title="Image">Img</abbr></th>
                                <th class="go2SE"><abbr title="Description">Desc</abbr></th>
                                <th class="go2SE"><abbr title="Characteristics">Char</abbr></th>
                            {{/data.srcs.inputGo2se}} {{#data.srcs.inputSr}}
                                <th class="sr"><abbr title="Working">Up</abbr></th>
                                <th class="sr"><abbr title="Image">Img</abbr></th>
                                <th class="sr"><abbr title="Description">Desc</abbr></th>
                                <th class="sr"><abbr title="Documents">Doc</abbr></th>
                            {{/data.srcs.inputSr}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#data.list}}
                            <tr>
                                <form target="_blank" method=POST action="/ref">
                                    <input type="text" name="searchedRef" value="{{searchedRef}}" hidden>
                                    <input type="text" name="searchedLocale" value="{{searchedLocale}}" hidden> 
                                    {{#data.srcs.inputBsl}}
                                        <input type="checkbox" name="inputBsl" value="inputBsl" checked hidden>
                                    {{/data.srcs.inputBsl}} 
                                    {{#data.srcs.inputWebsite}}
                                        <input type="checkbox" name="inputWebsite" value="inputWebsite" checked hidden> 
                                    {{/data.srcs.inputWebsite}} 
                                    {{#data.srcs.inputDsl}}
                                        <input type="checkbox" name="inputDsl" value="inputDsl" checked hidden> 
                                    {{/data.srcs.inputDsl}} 
                                    {{#data.srcs.inputGo2se}}
                                        <input type="checkbox" name="inputGo2se" value="inputGo2se" checked hidden> 
                                    {{/data.srcs.inputGo2se}} 
                                    {{#data.srcs.inputSr}}
                                        <input type="checkbox" name="inputSr" value="inputSr" checked hidden> 
                                    {{/data.srcs.inputSr}}
                                    <td id="ref_{{searchedRef}}_{{searchedLocale}}" class="has-text-centered"><button>{{searchedRef}}</button></td>
                                </form>
                                <td id="loc_{{searchedRef}}_{{searchedLocale}}" class="has-text-centered">{{searchedLocale}}</td>
                                {{#data.srcs.inputBsl}}
                                    <td class="bsl" id="rge_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="bsl" id="stat_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="bsl" id="ld_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="bsl" id="sd_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="bsl" id="img_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="bsl" id="docs_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                {{/data.srcs.inputBsl}} 
                                {{#data.srcs.inputWebsite}}
                                    <td class="website" id="datash_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                {{/data.srcs.inputWebsite}} 
                                {{#data.srcs.inputDsl}}
                                    <td class="dsl" id="dslImg_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="dsl" id="dslDesc_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                {{/data.srcs.inputDsl}} 
                                {{#data.srcs.inputGo2se}}
                                    <td class="go2SE" id="go2SE_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="go2SE" id="go2SEImg_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="go2SE" id="go2SEDesc_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="go2SE" id="go2SEChar_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                {{/data.srcs.inputGo2se}}
                                {{#data.srcs.inputSr}}
                                    <td class="sr" id="sr_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="sr" id="srImg_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="sr" id="srDesc_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                    <td class="sr" id="srDocs_{{searchedRef}}_{{searchedLocale}}">
                                        <div class="cercle"></div>
                                    </td>
                                {{/data.srcs.inputSr}}
                            </tr>
                        {{/data.list}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var list = {{{data.listJson}}};
        var srcs ={{{data.srcList}}};
        console.log(list);
        console.log(srcs);
    </script>
    <script src="\refs.js"></script>
    <script src="https://kit.fontawesome.com/22ce76ef9a.js" crossorigin="anonymous"></script>
</body>

</html>