body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.filter {
    width: 100vw;
    height: 103vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.filter .icon {
    font-size: 100px;
    position: absolute;
    top: 46vh;
    left: 49vw;
    color: white;
}

.go-to-search {
    font-size: 18px;
    line-height: 46px;
    margin-left: 10px;
}

.search-ref {
    background-color: #3DCD58;
    padding: 5px;
    margin-right: 50px;
}

.search-multiple-refs {
    background-color: #3DCD58;
    padding: 5px;
}

.section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 2px 1px 4px 0px;
}

.column {
    padding: 10px;
}

figure.image {
    margin: 0 auto;
}

label.checkbox {
    display: block;
}

td .cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: grey;
    margin: 0 auto;
}

td .cercle.is-success {
    background: green;
}

td .cercle.is-warning {
    background: orange;
}

td .cercle.is-danger {
    background: red;
}

.bsl {
    background-color: #1A79A944;
}

.dsl {
    background-color: #DD823544;
}

.website {
    background-color: #71CBE044;
}

.go2SE {
    background-color: #C86E7F44;
}

.sr {
    background-color: #80C98B44;
}

.refs-check-status {
    font-size: 25px;
    margin: 35px 0px;
}

.all-refs-checked {
    display: none;
}